/*
Ellen Carey Final Project CSD122 Hangman
CSSs

*/
div{
    background-color: #99e6e6;
    text-align: center;
    border: solid black;
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
body{
    text-align: center;
    background-color: floralwhite;
    
}
button{
    border-radius: 5px;
    background-color: floralwhite;
}
.letters:disabled{
    background-color: red;
    color: red;
    border-color: red;
}
.letters{
    font-size: 20px;
}
#hintbtn{
    font-size: 15px;
}

#play{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
}